body {
  background-color: White; }

html {
  overflow: hidden; }

.red {
  background-color: #EF5350; }

.yellow {
  background-color: #FFEE58; }

.blue {
  background-color: #42A5F5; }

#title-text {
  font-family: "Impact",Impact, monospace;
  margin-top: 50px;
  text-shadow: 2px 2px 4px #000000;
  font-size: 800%;
  color: #616161; }

#top-text {
  color: #616161; }

.invisible {
  display: none; }

.invisible-abt {
  display: none; }

.invisible-media {
  display: none; }

.invisible-blog {
  display: none; }

#circles {
  margin-left: auto;
  margin-right: auto; }

.circ {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
  opacity: 1; }

.partition {
  width: 100%;
  height: 0px; }

/* .up-circle{
	background-color:White;
	width:$circle-radius;
	height:$circle-radius;
	border-radius:40px;
	margin-left:auto;
	margin-right:auto;
	margin-top:$padding;
	display:inline-block;
	opacity:.5;
	cursor:pointer;
}*/
.arrow-up {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  display: inline-block;
  opacity: .5;
  cursor: pointer;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid White; }

#abt {
  width: 100%;
  height: 100%;
  background-color: #EF5350; }

#media {
  width: 100%;
  height: 100%;
  background-color: #FFEE58; }

#blog {
  width: 100%;
  height: 100%;
  background-color: #42A5F5; }

#about-text, #blog-text, #media-text {
  color: White;
  margin-top: 10px; }

#mobile-space {
  width: 100%;
  height: 100px; }

#nonsequitur:link {
  color: White; }

#nonsequitur:visited {
  color: White; }
