// Fonts
@import url("http://fonts.googleapis.com/css?family=Josefin+Sans");

// Colors
$white:White;
$grey: #616161;
$red:#EF5350;
$yellow:#FFEE58;
$blue:#42A5F5;


// Variables
$bg:$white;
$title-color:$grey;
$content-text:$white;
$circle-radius:80px;
$padding:10px;
$full-screen:100%;
$name-size:800%;
$shadow:2px 2px 4px #000000;
$arrow:20px;
$margin_top:100px;

// Meta
body{
	background-color:$bg;
}
html{
	overflow:hidden;
}

// colors
.red{
	background-color:$red;
}
.yellow{
	background-color:$yellow;
}
.blue{
	background-color:$blue;
}

// title
#title-text{
	font-family:"Josefin Sans", cursive;
	margin-top:$margin_top;
	//text-shadow: $shadow;
	font-size:$name-size;
	color:$title-color;
}
#top-text{
	color:$title-color;
	// text-shadow:$shadow;
	font-family:"Josefin Sans", cursive;

}

// invisibility
.invisible {
	display:none;
}
.invisible-abt{
	display:none;
}
.invisible-media{
	display:none;
}
.invisible-blog{
	display:none;
}

// circle container
#circles{
	margin-left:auto;
	margin-right:auto;
}
// circles
.circ{
	width:$circle-radius;
	height:$circle-radius;
	border-radius:40px;
	cursor:pointer;
	margin-left:$padding;
	margin-right:$padding;
	display:inline-block;
	opacity:1;
}

// Initial dimensions of the partition
.partition{
	width:$full-screen;
	height: 0px;
}

// The circle to return to the original screen
/* .up-circle{
	background-color:White;
	width:$circle-radius;
	height:$circle-radius;
	border-radius:40px;
	margin-left:auto;
	margin-right:auto;
	margin-top:$padding;
	display:inline-block;
	opacity:.5;
	cursor:pointer;
}*/
.arrow-up{
	margin-left:auto;
	margin-right:auto;
	margin-top:$arrow;
	display:inline-block;
	opacity:.5;
	cursor:pointer;
	width: 0;
	height: 0;
	border-left: $arrow solid transparent;
	border-right: $arrow solid transparent;
	border-bottom: $arrow solid $bg;
}

//background colors for each of the sections
#abt{
	width:$full-screen;
	height:$full-screen;
	background-color:$red;
}

#media{
	width:$full-screen;
	height:$full-screen;
	background-color:$yellow;
}
#blog{
	width:$full-screen;
	height:$full-screen;
	background-color:$blue;
}

#about-text, #blog-text, #media-text{
	color:$content-text;
	margin-top:10px;
	font-family:"Josefin Sans", cursive;

}

#mobile-space{
	width: $full-screen;
	height:100px;
}
#nonsequitur:link{
	color: $content-text;
}
#nonsequitur:visited{
	color:$content-text;
}
