body {
	background-color: #616161;
}
#top-text
{
	color:White;
}

.box {
	width:80px;
	height:80px;
	border-radius:40px;
	margin-left:auto;
	margin-right:auto;
	display:inline-block;
	opacity:.5;
}
.box:hover{
	cursor:pointer;
}
#circles {
	margin-right:auto;
	margin-left:auto;
}
#red {
	background:#EF5350;

}
#yellow {
	background:#FFEE58;
}
#blue {
	background:#42A5F5;
}

/* new fixed section */

#JakeSeaton {
	font-family: "Impact", Impact, monospace;
	margin-top:50px;
	color: White;
	text-shadow: 2px 2px 4px #000000;
	font-size: 800%;
}
#dot-text{
	margin-left:auto;
	margin-right:auto;
	color:White;
	fill:White;
}
#bar{
	margin-left:auto;
	margin-right:auto;
	color:White;
}

#content-block{
}
.about-text{
	fill:White;
}
.block-text{
	fill:White;
	text-align:center;
	font-family: "Times", Times, serif;
	font-size: 100%
}
#about-info{
	fill:#EF5350;
	opacity: 1;
}
#about-text{
	color:White;
	/* list-style-type:circle; */
}
#media-info{

	fill:#FFEE58;
	opacity:1;

}
#blog-info{
	fill:#42A5F5;
	opacity:1;

}
#blog-text{
	fill:White;
}
