/* @font-face{
	font-family: "20-db";
	font-style:normal;
	font-weight:normal;
	src: local("20-db"), "20-db.otf";
} */
body {
	background-color: #616161;
}

#JakeSeaton {
	font-family: "Impact", Impact, monospace;
	/* font-family: "20-db";
	src: "20-db/20-db.otf";*/
	margin-top:50px;
	color: White;
	text-shadow: 2px 2px 4px #000000;
	font-size: 800%;
}

}
dot:hover{
	color: White;
}

/*
.dot{
}

#about {

}
#media {

}
#blog {

} */
